<% if notice %>
  <div class="alert alert-success alert-dismissible fade show m-1" role="alert">
    <%= notice %>
     <a data-bs-dismiss="alert" aria-label="Close">
     <i class="fas fa-times"></i>
     <br>
    </a>
  </div>
<% end %>
