<h1 class= "row justify-content-center m-5">Dashboard</h1>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link text-secondary" id="instruments-tab" data-bs-toggle="tab" data-bs-target="#instruments" type="button" role="tab" aria-controls="instruments" aria-selected="true">Instruments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-secondary" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="false">Bookings</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active text-secondary" id="instruments" role="tabpanel" aria-labelledby="instruments-tab">
    <div class="container m-5">
      <h2>All Your Instruments:</h2>
    </div>
  </div>

  <div class="tab-pane fade text-secondary" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
    <div class="container m-5">
      <h2>All Your Bookings:</h2>
    </div>
  </div>
</div>
</div>
