<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner_photo.png" %>);">
  <div class="container ps-4 pt-5">
    <h1>InstruRent brings <strong>instruments</strong> to <strong>musical people</strong>!</h1>
    <p>Rent an instrument you would like to play.</p>
  </div>
</div>

  <div class="container my-5" id="instruments-list">
    <%= render partial: "pages/instrument-cards", locals: { instruments: @instruments } %>
  </div>

<%= tag.div(
  data: {
    controller: "infinite-scrolling",
    infinite_scrolling_list_id_value: "instruments-list",
    infinite_scrolling_url_value: root_path,
  }
) %>
