.navbar-lewagon {
  justify-content: space-between;
  background: #3262a4;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.874);
}

.nav-item {
  padding-right: 5px;
  display:flex;
  align-items:center;
}

.nav-items-left{
  align-items: center;
}

.nav-items-left .form-control{
  width: 200px

}

.btn-primary {
  background-color: #afb2b8d6;
  border-color: #afb2b8d6
}
