.navbar-lewagon {
  justify-content: space-between;
  background: #3262a4;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: rgba(255, 255, 255, 0.874);
}

.nav-item {
  padding-right: 5px;
  display:flex;
  align-items:center;
}

.search {
  width: 40%
}
